*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: clip;
}
/*Header session*/
.header a{
    color:whitesmoke;
}
.header a:hover{
    color:white;
    text-decoration: underline;
    transition:ease-in-out 0.5s;
    font-size: large;
}
#vid-par{
    position: relative;
    width:100vw;
    height:100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

#my-vid{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

/*About session*/
.about{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
    align-items: center;
    justify-content: space-around;
    padding:10px;
    background-color: rgb(34, 34, 34);
    color:white;
}
.text{
    display:flex;
    flex-direction: column;
}

.innertext{
    display: flex;
    flex-wrap: wrap;
}
#check{
    display:none;
}
.content{
    display:none;
}
label{
    border-radius: 10px;
    background-color: #575757;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    width:90px;
    text-align: center;
}
label{
    display: inline-block;
    margin-top: 15px;
    cursor:pointer
}
#check:checked ~ .content{
    display: block;
    transition: 0.5s linear;
}
#check:checked ~ label{
    visibility: hidden;
}
#check:checked ~ label:after{
    content:'Show Less';
    border-radius: 10px;
    align-content: center;
    background-color: #575757;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    text-align: center;
    display: block;
    visibility: visible;
}
/*Slider session*/
.Testonomials{
    display: flex;
    flex-wrap: wrap;
    background-color:  rgb(25, 28, 31);
    text-decoration: underline;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
}

/*Footer session*/
.mainfooter{
    background-color:rgb(30, 30, 30);
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(30, 30, 30);
}
.footer .mail,.phonenumber{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer a{
    color: whitesmoke;
    text-decoration: none;
}
.designer{
    background-color: rgb(30, 30, 30);
    flex-wrap: wrap;
}
.designer a{
    color:whitesmoke;
    text-decoration: none;
}
.socialmedia img{
    height:35px;
}